<section>
    <div class="container-lg">
        <div class="d-flex justify-content-between py-3">
            <h1 class="mb-0">THEMOVIEBOX</h1>
            <ul class="nav">
                <li class="nav-link">
                    <a class="btn btn-link">About</a>
                </li>
                <li class="nav-link">
                    <a class="btn btn-link">Movies</a>
                </li>
                <li class="nav-link">
                    <a class="btn btn-link">Ratings</a>
                </li>
                <li class="nav-link">
                    <a class="btn btn-link">Contact</a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="d-flex justify-content-between pt-3 pb-5">
            <div>Designed by Milan Houter. All rights reserved.</div>
            <ul class="nav social">
                <li class="nav-link">
                    <a href="https://twitter.com" target="_blank">
                        <i class="fab fa-twitter "></i>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="https://www.facebook.com" target="_blank">
                        <i class="fab fa-facebook "></i>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="https://www.youtube.com" target="_blank">
                        <i class="fab fa-youtube "></i>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="https://www.instagram.com" target="_blank">
                        <i class="fab fa-instagram "></i>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="https://www.linkedin.com" target="_blank">
                        <i class="fab fa-linkedin-in "></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>