<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active"  [style]="{'background-image': 'url(assets/Bitmap.png)'}">
        </div>

        <div class="carousel-item"  [style]="{'background-image': 'url(assets/Bitmap.png)'}">
        </div>

        <div class="carousel-item"  [style]="{'background-image': 'url(assets/Bitmap.png)'}">
        </div>
    </div>
    <section class="header-info">
        <div class="container-lg d-flex flex-column">
            <div class="header-title">
                <h1>THEMOVIEBOX</h1>
                <ul class="nav">
                    <li class="nav-link mr-2">
                        <a><img src="assets/search-icon.png" width="26"></a>
                    </li>
                    <li class="nav-link">
                        <a class="btn btn-link">LOGIN</a>
                    </li>
                    <li class="nav-link">
                        <a class="btn btn-link" href="#">SING UP</a>
                    </li>
                </ul>
            </div>
            <div class="movie mt-auto pb-5">
                <h1 class="movie-title">WRATH OF THE TITANS</h1>
                <ul class="nav movie-properties">
                    <li class="nav-link">
                        <span>Fantasy</span>
                    </li>
                    <li class="nav-link">
                        <span>Animation</span>
                    </li>
                    <li class="nav-link">
                        <span>Family</span>
                    </li>
                    <li class="nav-link">
                        <span>Duration: 1h 52m</span>
                    </li>
                </ul>
                <div class="d-flex align-items-end flex-wrap movie-actions">
                    <ul class="nav">
                        <li class="nav-link">
                            <button class="btn btn-primary btn-lg">
                                WATCH MOVIE
                            </button>
                        </li>
                        <li class="nav-link">
                            <button class="btn btn-outline-secondary btn-lg">
                                VIEW INFO
                            </button>
                        </li>
                        <li class="nav-link">
                            <button class="btn btn-link btn-lg add-to-wishlis">
                                + ADD TO WISHLIS
                            </button>
                        </li>
                    </ul>
                    <div>
                        <app-rating [point]="3.3"></app-rating>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>