<app-header></app-header>
<div class="container-lg mt-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="popular" routerLinkActive="active">Popular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="top_rated" routerLinkActive="active">Top Rated</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="upcoming" routerLinkActive="active">Upcoming</a>
    </li>
    <li class="nav-item dropdown">
      <a class="btn btn-link dropdown-toggle nav-link" href="javascript:void(0)" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Genres
      </a>
      <div class="dropdown-menu">
        <ng-container *ngIf="movieList$ | async as list">
          <a class="dropdown-item" [routerLink]="['discover']" [queryParams]="{genres: i.id}"
            *ngFor="let i of list">{{i.name}}</a>
        </ng-container>
      </div>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>