.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: none;
}
.card-body {
    position: relative;
    .year {
        position: absolute;
        top: -40px;
        font-size: 1.5rem;
        color: white;
        opacity: 0.75;
    }
    .info {
        flex: 1;
        overflow: hidden;
    }
    .vote {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.5rem;
    }
}
