.card {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    &.card-body {
        padding: 0.65rem 1.25rem;
    }
    .info {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;
        h4 {
            margin-bottom: 0;
        }
        span {
            opacity: 0.75;
        }
    }
    .stars {
        display: flex;
        > div {
            flex: 1;
        }
        .point {
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            text-align: center;
        }
    }
}
